aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
altgraph @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
annotated-types==0.7.0
anyio==4.12.1
appnope==0.1.4
asn1crypto==1.5.1
asttokens==3.0.1
async-timeout==4.0.3
attrs==26.1.0
boto3==1.42.96
botocore==1.42.96
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
comm==0.2.3
cryptography==47.0.0
dataclasses-json==0.6.7
debugpy==1.8.20
decorator==5.2.1
distro==1.9.0
exceptiongroup==1.3.1
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.19.1
frozenlist==1.8.0
future @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
git-filter-repo==2.47.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
idna==3.13
importlib_metadata==8.7.1
ipykernel==6.31.0
ipython==8.18.1
jedi==0.19.2
jiter==0.14.0
jmespath==1.1.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.8.1
langchain==0.3.28
langchain-community==0.3.31
langchain-core==0.3.84
langchain-text-splitters==0.3.11
langsmith==0.4.37
macholib @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
marshmallow==3.26.2
matplotlib-inline==0.2.1
multidict==6.7.1
mypy_extensions==1.1.0
nbformat==5.10.4
nbstripout==0.8.2
nest-asyncio==1.6.0
numpy==2.0.2
openai==2.32.0
orjson==3.11.5
packaging==25.0
parso==0.8.6
pexpect==4.9.0
platformdirs==4.4.0
prompt_toolkit==3.0.52
propcache==0.4.1
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.23
pydantic==2.13.3
pydantic-settings==2.11.0
pydantic_core==2.46.3
Pygments==2.20.0
PyJWT==2.12.1
pyOpenSSL==26.1.0
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2026.1.post1
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.36.2
requests==2.32.5
requests-toolbelt==1.0.0
rpds-py==0.27.1
s3transfer==0.16.1
six @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/six-1.15.0-py2.py3-none-any.whl
sniffio==1.3.1
snowflake-connector-python==4.4.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.49
stack-data==0.6.3
tenacity==9.1.2
tomlkit==0.14.0
tornado==6.5.5
tqdm==4.67.3
traitlets==5.14.3
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==1.26.20
uuid_utils==0.14.1
wcwidth==0.6.0
yarl==1.22.0
zipp==3.23.1
zstandard==0.25.0
